@import url('https://fonts.googleapis.com/css2?family=Croissant+One&display=swap');

html{
    height: 100%;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('../imagenes/peque.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

@media screen and (max-width: 1179px) {
    body{
    background-position: right;
    }
}

a{
    text-decoration: none;
}
.barra{
    /* background-color: #001449; */
    /* padding-top: 40px; */
    max-width: 100%;
    height: 65px;
    display: flex-box;
}
#texto-barra{
    color: white;
    font-size: 25px;
    font-family: 'Croissant One', cursive;
    position: absolute;
    line-height: 22px;
    padding-top: 12px;
    padding-left: 5px;
    letter-spacing: -1px;
    text-shadow: 3px 1px 10px black;
}
#icono-barra{
    margin: 10px 0px 20px 120px;
    /* margin-left: 20px; */
    color: white;
    font-size: 25px;
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));

    
}
section{
    justify-content: center;
    align-items: center;
    display: grid;

}

.contenedor-reproductor{
    width: 250px;
    height: 300px;
    top: 70px;
    right: 2vh;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px black;
    position: relative;
}
.contenedor-reproductor p{
    color: white;
    text-shadow: 3px 2px 4px black;
}



@media screen and (min-height: 700px) {
    .contenedor-reproductor{
        width: 250px;
        height: 300px;
        top: 150px;
        left: 0;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 10px black;
    }
    #imagen{
            width: 150px;
            margin-top: 40px;
            margin-left: 3.1em;
            border-radius: 5%;
        }
    

}
@media screen and (min-height: 800px) {
    .contenedor-reproductor{
        width: 250px;
        height: 300px;
        top: 160px;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 10px black;
    }
    #imagen{
            width: 150px;
            margin-top: 40px;
            margin-left: 3.1em;
            border-radius: 5%;
        }
    

}
@media screen and (min-height: 900px) {
    .contenedor-reproductor{
        width: 250px;
        height: 300px;
        top: 170px;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 10px black;
    }
    #imagen{
            width: 150px;
            margin-top: 40px;
            margin-left: 3.1em;
            border-radius: 5%;
        }
    

}
@media screen and (min-height: 1000px) {
    .contenedor-reproductor{
        width: 250px;
        height: 300px;
        top: 180px;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 2px 10px black;
    }
    #imagen{
            width: 150px;
            margin-top: 40px;
            margin-left: 3.1em;
            border-radius: 5%;
        }
    

}



/* .imagen-reproductor{
    top: 50%0;
    left: 50%;
    

} */
#imagen{
    width: 150px;
    margin-top: 40px;
    margin-left: 3.1em;
   /* border: 10px solid #000d2e; */
    border-radius: 5%;

}
.texto-reproductor{
    margin-top: 1em;
    font-size: 20px;
    text-align: center;
    font-family: 'Croissant One', cursive;
    letter-spacing: -2px;

}
#icono-play{
font-size: 35px;
margin-top: 0.4em;
margin-left: 3em;
color: rgb(255, 252, 252);
filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));


}


#icono-play:hover{
    transform: scale(1.2);
    

}
#icono-play {
    transition: all 0.3s linear;
}


#icono-wsp{

border: 15px solid #009100;
background-color: #009100;
border-radius: 100%;
box-shadow: 1px 1px 10px black;
bottom: 90px; 
right: 30px; 
position: fixed;
color: white;


}
.icono-ws{
    font-size: 30px;
    
    
}
#icono-wsp:hover{
    color: green;
    background-color: white;
    border-color: white;
}
footer{
    /* background: #001449; */
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}
.elementos-footer{
    display: flex;
    justify-content: space-between;
}

.elementos-footer p{
    color: white;
    font-size: 14px;
    padding: 10px 5px 0;
    font-family: 'Croissant One', cursive;
    line-height: 17px;
    text-shadow: 3px 1px 10px black;
}
.iconos-footer{
    display: flex;
    align-items: center;
}
.iconos-footer div{
    margin: 10px 10px 0;
}
.iconos-footer .icono-ig{
    color: rgb(187, 3, 233);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}
.iconos-footer .icono-fb{
    color: rgb(0, 119, 255);
    filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.7));
}
.icono-ig:hover{
color: rgb(129, 0, 161);
}
.icono-ig{
    font-size: 23px;
}
.icono-fb:hover{
    color: rgb(0, 87, 250);
}
.icono-fb{
    font-size: 24px;
}



